---
import Card from "./Card.astro";
---
<div class="grid grid-rows-1 md:grid-cols-2 gap-20 p-10">
    <Card title={'hola'} image={'../../../public/rudeus.jpg'} body={'Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero saepe in ex neque quia soluta veniam architecto ea, harum quisquam.  '}/>
    <Card title={'hola'} image={'../../../public/rudeus.jpg'} body={'Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero saepe in ex neque quia soluta veniam architecto ea, harum quisquam.  '}/>
</div>