---
import About from "../Components/About.astro";
import Contact from "../Components/Contact.astro";
import Footer from "../Components/Footer.astro";
import Hero from "../Components/Hero.astro";
import Navbar from "../Components/Navbar.astro";
import Cards from "../Components/Projects/Cards.astro";
import Layout from "../Layout/Layout.astro";
---

<Layout title="Krpeta21">
  <div
    class="md:w-[50%] m-auto flex flex-col justify-center items-center bg-white"
  >
    <Navbar />
    <Hero />
    <About/>
    <Cards />
    <Contact />
    <Footer />
  </div>
</Layout>
