---
import Hero from "../Components/Hero.astro";
import Navbar from "../Components/Navbar.astro";
import Cards from "../Components/Projects/Cards.astro";
import Layout from "../Layout/Layout.astro";
---

<Layout title="Portafolio">
    <div class="md:w-[50%] m-auto flex flex-col justify-center items-center bg-white">
      <Navbar />
      <Hero />
      <Cards/>
    </div> 
</Layout>
