<section class="text-center bg-blue-500 rounded-lg my-10 w-[90%] shadow-md text-white p-10">
    <p class="text-5xl my-10 font-bold">About me</p>
    <p class="text-2xl text-justify">I am a developer who is passionate about building web and desktop applications.</p>
    <p class="text-2xl my-5">Here are some technologies that i use:</p>
    <div class="text-2xl flex flex-col">
        <p class="text-4xl font-bold my-5">Languages</p>
        <ul class="md:grid md:grid-cols-4 text-2xl">
            <li class="flex flex-col items-center justify-center">
                <img class="w-14" src="/jslogo.svg" alt="JS">
                Javascript
            </li>
            <li class="flex flex-col items-center justify-center">
                <img class="w-14 border-[2px] border-black" src="/typescript.svg" alt="TS">
                Typescript
            </li>
            <li class="flex flex-col items-center justify-center">
                <img class="w-14" src="/java.svg" alt="JAVA">
                Java
            </li>
            <li class="flex flex-col items-center justify-center">
                <img class="w-14" src="/database.svg" alt="SQL">
                SQL
            </li>
        </ul>            
            <p class="text-4xl font-bold my-5">Frameworks</p>
        <ul class=" md:grid md:grid-cols-4 text-2xl">
            <li class="flex flex-col items-center justify-center">
                <img class="w-14" src="/react.svg" alt="REACT">
                React
            </li>
            <li class="flex flex-col items-center justify-center">
                <img class="w-14 " src="/astro.svg" alt="ASTRO">
                Astro
            </li>                      
            <li class="flex flex-col items-center justify-center">
                <img class="w-14" src="/angular.svg" alt="ANGULAR">
                Angular
            </li>
            <li class="flex flex-col items-center justify-center">
                <img class="w-32 mb-5" src="/express.svg" alt="EXPRESS">
                Express
            </li>  
        </ul>
    </div>
</section>