<footer class="p-4 bg-blue-700 dark:bg-[#522ba7] rounded-t-lg shadow w-full  text-white">
  <div class="md:flex flex-col md:flex-row md:items-center md:justify-center">
    <span class="text-xl sm:text-center"
      ><a
        href="https://github.com/Krpeta21"
        class="hover:underline m-5"
        target="_blank">Github</a
      >
    </span>
    <span class="text-xl sm:text-center"
      ><a
        href="https://www.linkedin.com/in/iglt00/"
        class="hover:underline m-5"
        target="_blank">LinkedIn</a
      >
    </span>
  </div>
  <div class="flex flex-col items-center">
    <span class="text-xl sm:text-center">Created by Krpeta21.</span>
  </div>
</footer>
