<div class="bg-blue-500 flex flex-col justify-center items-center md:flex-row w-full p-14">
    <p class="w-full h-full text-white text-2xl text-justify mr-5">Welcome to my portfolio! I am a developer who is passionate about building web and desktop applications.</p>
    <img class="w-1/2 aspect-video rounded-3xl" src="https://images3.alphacoders.com/122/1225412.jpg" alt="Me">
</div>