---
import ThemeIcon from "./ThemeIcon/ThemeIcon.astro";
---
<nav class="text-xl">
    <ul class="m-0 p-0">
        <li class="md:float-left"><a class="block hover:bg-blue-600 hover:text-white text-center px-5 py-4" href="#Home">Home</a></li>
        <li class="md:float-left"><a class="block hover:bg-blue-600 hover:text-white text-center px-5 py-4" href="#Projects">Projects</a></li>
        <li class="md:float-left"><a class="block hover:bg-blue-600 hover:text-white text-center px-5 py-4" href="#Contact">Contact</a></li>
    </ul>
    <ThemeIcon />
</nav>